# Transactions

### Imports
Good practice to put them on the top

In [2]:
import pandas as pd
import seaborn as sns

### Read data (look into the docs for additional information)

In [3]:
transactions = pd.read_csv('../datasets/transactions.csv')

### Show first five rows

In [4]:
transactions.head()

                   created_at  item_id  client_id
0  2020-09-01 09:49:12.285421    10142  100000015
1  2020-09-01 16:44:09.888896    10113  100000010
2  2020-09-01 22:40:07.678792    10105  100000010
3  2020-09-02 18:48:22.620671    10177  100000022
4  2020-09-02 11:04:38.703035    10039  100000019

### Show last five rows

In [5]:
transactions.tail()

                      created_at  item_id  client_id
6080  2021-08-31 21:25:25.914975    10014  100016123
6081  2021-08-31 02:01:14.664119    10169  100021639
6082  2021-08-31 02:30:22.605617    10050  100011984
6083  2021-08-31 21:23:18.842280    10139  100000569
6084  2021-08-31 15:04:59.707512    10245  100005722

### use the describe feature to get mean, count, median, quartile info (sometimes it might not be relavant so be careful)

In [6]:
transactions.describe()

            item_id     client_id
count   6085.000000  6.085000e+03
mean   10151.703533  1.000066e+08
std       81.345483  5.460200e+03
min    10001.000000  1.000000e+08
25%    10086.000000  1.000020e+08
50%    10155.000000  1.000052e+08
75%    10222.000000  1.000101e+08
max    10290.000000  1.000216e+08

In [7]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6085 entries, 0 to 6084
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   created_at  6085 non-null   object
 1   item_id     6085 non-null   int64
 2   client_id   6085 non-null   int64
dtypes: int64(2), object(1)
memory usage: 142.7+ KB

### list the column names

In [8]:
list(transactions)

['created_at', 'item_id', 'client_id']

### number of rows and columns (returns a tuple, we will talk about this)

In [9]:
transactions.shape

(6085, 3)

## Do more analysis